/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather&family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*============= Colors ======================*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(18, 95%, 55%);
  --second-color: hsl(42, 98%, 52%);
  --first-gradient: linear-gradient(90deg,
                  hsl(18, 95%, 55%),
                  hsl(18, 98%, 64%));
  --title-color: hsl(255, 12%, 12%);
  --text-color: hsl(225, 12%, 24%);
  --text-color-light: hsl(255, 4%, 70%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(255, 20%, 10%);
  --yellow-color: hsl(44, 96,65,100%);
  --gray-border: hsl(255, 6%, 90%);
  --black-border: hsl(255, 10%, 20%);

  /*============= Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  
  --body-font: "Montserrat", sans-serif;
  --second-font: "Golos Text", sans-serif;
  --third-font: "Merriweather", serif;
  --big-font-size: 33,875rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*============= Font weight ==================*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*============= z index ======================*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*============== Responsive typography =========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*================ BASE ===================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--second-color);
  margin-bottom: .5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position:absolute;
  width: 17.9%;
  top: 36px;
  left: 100px;
  z-index: var(--z-fixed);
}

/* For mobile devices */
@media screen and (max-width: 1150px){
  
}

/*=============== HERO ===============*/
.hero{
  background-image: url("../img/bg.png");
  background-size: cover;
}

 .hero__container{
  position: relative;
  row-gap: 3rem;
  padding-block: 2.5rem 6rem;
}

.hero__content{
  row-gap: 2.5rem;
}

.hero__data{
  text-align: center;
} 

.hero__title{
  font-family: var(--third-font);
  color: var(--black-color);
  font-size: var(--big-font-size);
  font-weight: var(--font-regular);
  margin-bottom: 1rem;
}

.hero_description{
  margin-bottom: 2.5rem;
  color: var(--black-color);
}

.hero__buttons{
  display: flex;
}

/*=============== BUTTON ===============*/
.button{
  background-color: transparent;
  color: black;
  display: inline-flex;
  font-weight: var(--font-semi-bold);
  padding: 20px 49px;
  border-radius: 66px;
  transition: box-shadow .4s;
}

.button:hover{
  background-color: black;
  color: white;
}

/* .black{
  background-color: black;
  color: white;
}

.black:hover{
  background: var(--yellow-color);
  color: black;
}

.trans{
  background-color: black;
  color: white;
}

.trans:hover{
  background: var(--black-color);
  color: white;
} */



/* Swiper class */


/*=============== PARTICIPANTS ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */

/* Animation */
/* @keyframes assemble {
  0% {
      transform: translate(-100%, -100%);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translate(0, 0);
  }
}

img {
  animation: assemble 1s forwards;
} */