/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Merriweather&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*============= Colors ======================*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: var(--black-color);
  --text-color: var(--black-color);
  --text-color-light: var(--red-color);
  --body-color: var(--white-color);
  
  --white-color: hsl(0, 0%, 100%);
  --red-color: hsl(7, 91%, 58%);
  --yellow-color: hsl(44, 96%, 65%);
  --black-color: hsl(0, 0%, 19%);

  --black-btn-color: hsl(0, 0%, 12%);
  --blue-color: hsl(219, 54%, 41%);
  --black-border: var(--black-btn-color);
  --blue-border: var(--blue-color);

  --gray-grid: hsl(0, 0%, 82%);
  --gray-text-grid: hsl(0, 0%, 44%);
  --gray-count: hsl(0, 0%, 51%);
  --gray-disabled: hsl(0, 0%, 84%);
  --footer-text: hsl(30, 3%, 46%);
  --footer-color: hsl(29, 32%, 87%);

  /*============= Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  
  --title-font: "Merriweather", serif;
  --body-font:"Golos Text", sans-serif;
  --big-font-size: 33,875rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*============= Font weight ==================*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*============= z index ======================*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*============== Responsive typography =========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*================ BASE ===================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-family: var(--title-font);
  font-weight: var(--font-regular);
  color: var(--title-color);
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
  position:absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: var(--z-fixed);
}

.header__logo{
  position:absolute;
  width: 17.9%;
  top: 36px;
  left: 100px;
}

/* For mobile devices */
@media screen and (max-width: 1150px){
  
}

/*=============== HERO ===============*/
.hero{
  position: relative;
  height: 102.3vh;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: -24.2rem;
}

.hero__container{
  position: relative;
  justify-content: flex-start;
  padding: 5rem;
}

/* .hero__content{
  margin-top: 5rem;
} */

.hero__data{
  text-align: center;
} 

.hero__title{
  font-size: var(--big-font-size);
  text-align: left;
  margin-bottom: 1rem;
}

.hero_description{
  font-size: var(--font-medium);
  color: var(--black-color);
  margin-bottom: 2.5rem;
}

.hero__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*=============== BUTTON ===============*/
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  border-radius: 66px;
  background: var(--black-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s ease;
  width: 330px;
  height: 90px;
}

.button:hover{
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.button__price{
  border: 2px solid var(--black-color);
  background: transparent;
  color: var(--black-color);
}

.button__price:hover{
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Swiper class */


/*=============== PARTICIPANTS ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */